body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#sidebar{
  background-color: rgb(219, 166, 219);
  text-align: center;
  font-weight: bold;
  font-family: forte;
  font-size: 30px;
}

#content{
  background-color: rgb(218, 185, 218);
}

#gambar-mahasiswa{
  height: 120px;
  width: 120px;
  vertical-align: top;
  margin: auto;
  margin-top: 10px;
}

#gambar-mahasiswa img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
